body {

}

.container {
	padding: 1em;
	margin: 0 auto;
}

#mySheriff {
	max-width: 200px;
	margin: 0 auto;
	font-size: 1.6em;
}

#mySheriff p {
  white-space: pre;
}


#my-container {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 5em;
}

#my-text-input {
	display: block;
	height: 0;
	width: 0;
}

#icon{
	color: #000;
}
#icon:hover{
	cursor: pointer;
}

#brushDisplay {
	display: inline-block;
	width: 2em;
	border-radius: 1em;
	text-align: center;
}


img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
