body {

}

.container {
	padding: 1em;
	margin: 0 auto;
}

#mySheriff {
	max-width: 200px;
	margin: 0 auto;
	font-size: 1.6em;
}

#mySheriff p {
  white-space: pre;
}


#interface{
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
}

#emojiPalette {
	max-height: 250px;
	overflow: scroll;
	display: none;
}

#emojiPalette .emojiSplotch {
	margin: .2em;
}

#icon{
	color: #000;
}
#icon:hover{
	cursor: pointer;
}

#brushDisplay {
	display: inline-block;
	width: 2em;
	border-radius: 1em;
	text-align: center;
	font-size: 1.3em;
	margin: 0.3em;
}


img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
